:root {
  --primaryColor: hsl(265, 98%, 67%);
  --hoverColor: hsl(272, 61%, 34%);
  --paleColor: hsl(265, 100%, 86%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(0, 0%, 41%);
  --greyText: hsl(0, 67%, 2%);
  --bgColor: hsl(113, 11%, 85%);
  --inputColor: hsl(330, 12%, 97%);
  --inputtColor: hsl(154, 14%, 90%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.registerPage {
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
}
.registerPage .container {
  height: 75vh;
  width: 60%;
  margin: auto;
  justify-content: space-between;
  border-radius: 10px;
  background: hsl(0, 0%, 91%);
}
.registerPage .container .videoDiv {
  position: relative;
  display: flex;
  flex-basis: 50%;
  width: 70%;
  height: 100%;
  padding: 0 1.5rem;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
.registerPage .container .videoDiv video,
.registerPage .container .videoDiv .footerDiv {
  position: absolute;
}
.registerPage .container .videoDiv video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.registerPage .container .videoDiv .textDiv {
  position: relative;
}
.registerPage .container .videoDiv .textDiv .title {
  color: var(--whiteColor);
  font-size: 35px;
  font-weight: 800;
}
.registerPage .container .videoDiv .textDiv p {
  color: var(--whiteColor);
  padding: 1rem;
  font-weight: 400;
}
.registerPage .container .videoDiv .footerDiv {
  bottom: 10px;
  padding: 0 1rem;
  height: 60px;
  background: rgba(255, 255, 255, 0.248);
  left: 10px;
  right: 10px;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 10px;
}
.registerPage .container .videoDiv .footerDiv .text {
  color: var(--whiteColor);
}
.registerPage .container .videoDiv .footerDiv .btn {
  background: var(--whiteColor);
  color: var(--primaryColor);
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  font-weight: 400;
  transition: 0.3s ease;
}
.registerPage .container .videoDiv .footerDiv .btn:hover {
  background: var(--hoverColor);
  color: var(--whiteColor);
}
.registerPage .container .formDiv {
  flex-basis: 50%;
  margin: auto;
  flex-direction: column;
  gap: 1.25rem;
  transform: translateY(-1rem);
}
.registerPage .container .formDiv .headerDiv {
  text-align: center;
  padding: 1.5rem 0 0.25rem 0;
}
.registerPage .container .formDiv .headerDiv img {
  width: 60px;
  padding-bottom: 0.5rem;
}
.registerPage .container .formDiv .headerDiv h3 {
  font-size: 25px;
  color: var(--blackColor);
  font-weight: 600;
}
.registerPage .container .formDiv .form {
  gap: 0.75rem;
}
.registerPage .container .formDiv .form .inputDiv .icon {
  color: var(--greyText);
}
.registerPage .container .formDiv .form .inputDiv input {
  background: none;
  outline: none;
  border: none;
  width: 200px;
}
.registerPage .container .formDiv .form .inputDiv label {
  color: var(--blackColor);
  font-weight: 400;
  font-style: 14px;
  padding: 0.5rem 0;
  display: block;
}
.registerPage .container .formDiv .form .inputDiv .input {
  gap: 0.5rem;
  padding: 1rem;
  background: var(--inputColor);
  border-radius: 10px;
}
.registerPage .container .formDiv .btn {
  padding: 0.8rem;
  background: var(--primaryColor);
  color: var(--whiteColor);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-style: 16px;
  width: 100%;
  gap: 0.5rem;
  transition: 0.3s ease;
}
.registerPage .container .formDiv .btn .icon {
  font-size: 25px;
  transition: 0.3s ease;
}
.registerPage .container .formDiv .btn:hover {
  background: var(--hoverColor);
  color: var(--whiteColor);
}
.registerPage .container .formDiv .btn:hover .icon {
  color: var(--whiteColor);
  transform: translateX(5px);
}
.registerPage .container .formDiv .forgotPassword {
  font-size: 13px;
  color: var(--blackColor);
  opacity: 0.7;
  text-align: center;
}
.registerPage .container .formDiv .forgotPassword a {
  text-decoration: underline;
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 602px) {
  .registerPage .container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 1.5rem;
  }
  .registerPage .container .videoDiv {
    width: 100%;
  }
  .registerPage .container .videoDiv .textDiv .title {
    font-size: 20px;
  }
  .registerPage .container .videoDiv .textDiv p {
    padding: 1rem;
  }
  .registerPage .container .videoDiv .footerDiv .text {
    font-size: 12px;
  }
  .registerPage .container .videoDiv .footerDiv .btn {
    padding: 0.4rem 1.5rem;
  }
  .registerPage .container .formDiv {
    gap: 1rem;
    transform: translateY(-0.5rem);
  }
  .registerPage .container .formDiv .headerDiv {
    padding: 1rem 0;
  }
  .registerPage .container .formDiv .headerDiv img {
    width: 40px;
  }
  .registerPage .container .formDiv .headerDiv h3 {
    font-size: 20px;
  }
  .registerPage .container .formDiv .form {
    gap: 0.5rem;
  }
  .registerPage .container .formDiv .form .inputDiv input {
    width: 100%;
  }
}
@media screen and (max-width: 678px) {
  .registerPage .container .videoDiv .textDiv .title {
    font-size: 25px;
  }
  .registerPage .container .videoDiv .textDiv p {
    padding: 1rem;
  }
  .registerPage .container .videoDiv .footerDiv .text {
    font-size: 12px;
  }
  .registerPage .container .videoDiv .footerDiv .btn {
    padding: 0.8rem 1.5rem;
  }
  .registerPage .container .formDiv .headerDiv {
    padding: 1.5rem 0;
  }
  .registerPage .container .formDiv .headerDiv h3 {
    font-size: 20px;
  }
  .registerPage .container .formDiv .form .inputDiv input {
    width: 100%;
    max-width: 200px;
  }
}
@media screen and (max-width: 927px) {
  .registerPage .container {
    width: 85%;
  }
}/*# sourceMappingURL=Register.css.map */